//- A navigation ruler for pages in the website.
    Author: Alon Haviv, Stellar Intelligence.

nav
  // The header:
  div.site-title
    a(href="/")
      h1 Beethoven
    h3= title

  // Navigation bar to different pages:
  ul
    - const links = [{ref: '/', text: 'home'}, {ref: '/about', text: 'about'}, {ref: '/notesheets', text: 'note-sheets'}]
    each link in links
      // Add only likns to the other pages, not to the current one:
      if link.text.toLowerCase() !== title.toLowerCase()
        li
          a(href=link.ref) #{link.text}
