//- A structure layout for all the pages.
    Author: Alon Haviv, Stellar Intelligence.

doctype html
html(lang='en')
  include partials/head


  body
    include partials/nav
    
    block content

    include partials/footer