//- The about us page.
    Author: Alon Haviv, Stellar Intelligence.

extends layout

block content
  div.about-content
    h2 We Make The World sound Better
    p.
      Stellar Intelligence is a company that uses and develop new AI technologies, 
      in order to make its enormous power accessible to everyone, and by that 
      advance the human civilization as a whole.
      Beethoven is a service developed By Stellar Intelligence for this exact 
      purpose - to give everyone the ability to take any music source and generate 
      note-sheets playable by musical instruments.
      
      Here in Stellar Intelligence we beleive that AI techniologies and its products 
      should help mankind, and not threaten them. As such, we follow a moral compass 
      and always ask our selves: "Is this going to create more good or more evil?"