//- A header with the title.
    Author: Alon Haviv, Stellar Intelligence.

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title= `Beethoven | ${title}`
  link(rel="icon" type="image/png" href="/images/icons/favicon2.png")
  link(rel='stylesheet', href='/stylesheets/main.css')
  block styles